@font-face {
    font-family: 'goudytrajanregular';
    src: url('goudytrajan-webfont.eot');
    src: url('goudytrajan-webfont.eot?#iefix') format('embedded-opentype'),
         url('goudytrajan-webfont.woff') format('woff'),
         url('goudytrajan-webfont.ttf') format('truetype'),
         url('goudytrajan-webfont.svg#goudytrajanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}